html, body {
    height: 100%;
    background: #000;
    padding-top: 50px;
}
h2 {
    color: #fff;
}
#main-container {
    width: 940px!important;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

img {
    height: 50px;
}
.buttons {
    margin-top: 280px;
    text-align: center;
}
#button_start {
    display: block;
    margin-bottom: 40px;
}
#button_credits {
    display: block;
    margin: 0 auto;
}
.direction_buttons {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    top: 440px;
}
#button_back {
    margin-right: 20px;
}
#button_forward {
    margin-left: 20px;
}