html, body {
    height: 100%;
    background: #5a1c16;
}

#main-container {
    height: 100%;
    padding-top: 100px;
    background: url("../img/bg.png") no-repeat top center;
    background-size: 100%;
}

#actions .btn {
    display: block;
    margin-bottom: 1em;
}

#map {
    position: relative;
}
.map-layer {
    position: absolute;
    top: 0;
    left: 0;
}
.map-layer-success {
    display: none;
}
.map-layer-failure {
    display: none;
}

#progress_bar {
    overflow: hidden;
}